# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title:  从零开始
subtitle: 积累技术，记录生活！
name: 从零开始
encoding: "utf-8"
favicon: favicon.png 

repository: YuanAaron/yuanaaron.github.io
github_url: https://github.com/YuanAaron
url: http://www.coderap.cn
enforce_ssl: coderap.cn

baidu_analysis: 353759d3ad3db9578b6d0ac477ddca1d

## Gem
plugins:
  - jekyll-paginate
  - jekyll-geo-pattern
  - rouge
  - kramdown
  - jekyll-github-metadata
  - jekyll-octicons
  
# Build settings
markdown: kramdown
highlighter: rouge
lsi:         false
excerpt_separator: "\n\n"

source:      .
destination: ./_site

quiet:    false
defaults: []

kramdown:
  input: GFM
  enable_coderay: true
  syntax_highlighter: rouge

syntax_highlighter_opts:
   coderay_line_numbers:  nil

# Pagination
paginate: 10
paginate_path: 'page:num'

# Navigation. top menu list
menus:

  # -
  #   href: /tech.html
  #   label: tech
  #   target: _self

  -
    href: /life.html
    label: 生活
    target: _self

  # -
  #   href: /arch.html
  #   label: 架构
  #   target: _self

  # -
  #   href: /payment.html
  #   label: 支付
  #   target: _self

  # -
  #   href: /blockchain.html
  #   label: 区块链
  #   target: _self

  -
    href: /link.html
    label: 友链
    target: _self

  -
    href: /about.html
    label: 关于
    target: _self


# Navigation. main menu list
navs:

  -
    href: /
    label: Home

  -
    href: /open-source.html
    label: 开源
    target: _self

  -
    href: /tech.html
    label: Java技术
    target: _self

  -
    href: /python.html
    label: Python技术
    target: _self

  -
    href: /archives.html
    label: 归档
    target: _self


# labels. my blog key words
labels:

# selected articles，精选文章
classes:

  -
    href: /life.html
    name: 我的故事
    describe: 生活就是故事，故事就是生活

  -
    href: /arch.html
    name: 架构师之路
    describe: 一个架构师的自我修养

  -
    href: /python.html
    name: Python德塔赛
    describe: python数据分析，爬虫


# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# Sidebar to show popular repo
side_bar_repo_limit: 6 # Number of repos to show

# Google Analytics
# analytics :
# provider : google
#   google :
#     tracking_id : ''  # ex. UA-72165600-X


# For about.html. Fell free to create your own!
skill_software_keywords: [Java, MySQL, Oracle, Design Patterns]
skill_j2ee_keywords: [Spring, Struct, Hibernet, MyBatis, JSP]
skill_web_keywords: [HTML, CSS, JS, JQuery, Ajax, NodeJS, ExpressJS, MongoDB, Redis, PHP,  Boostrap]
skill_mobile_app_keywords: [vuejs, hyhird app]


# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: xxxx(换成自己的)
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: xxxx(换成自己的)
    repo: xxxx(换成自己的)
    oauth:
        client_id: xxxx(换成自己的)
        client_secret: xxxx(换成自己的)
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: xxxx(换成自己的)
    repo: xxxx(换成自己的)
    clientID: xxxx(换成自己的)
    clientSecret: xxxx(换成自己的)
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : true
github: [metadata]
